/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/*
/web/js/*
/web/files/countries.geojson
.idea
node_modules
.sass-cache
.vagrant
app/Resources/views/footer.html.twig
docker-compose.yml
!/var/jwt/
/var/jwt/private.pem
/var/jwt/public.pem
/docker/.data
/docker/app
/docker/alk
/docker/logs
docker/mysql-data

