# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: localhost
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: '%kernel.project_dir%/data.db3'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: test@test.test
    mailer_password: test

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: http://localhost

    image_banner_destinations_path : images/banners/destinations/
    image_banner_countries_path : images/banners/countries/
    image_banner_homepage_path : images/banners/homepage/
    image_banner_default : images/banners/default.JPG

    api_rate_key: ~
    api_google_key: ~
    access_token_mapbox: ~
    geo_json_map_path: ~

    available_journey_api: ~

    typical_voyage_user_id: ~

    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/private.pem' # ssh private key path
    jwt_public_key_path:  '%kernel.root_dir%/../var/jwt/public.pem'  # ssh public key path
    jwt_key_pass_phrase:  ''                                         # ssh key pass phrase
    jwt_token_ttl:        3600

twig:
    globals:
        image_banner_destinations_path : %image_banner_destinations_path%
        image_banner_countries_path : %image_banner_countries_path%
        image_banner_homepage_path : %image_banner_homepage_path%
        image_banner_default : %image_banner_default%
        access_token_mapbox: '%access_token_mapbox%'
        geo_json_map_path: '%geo_json_map_path%'